/* Reset some default browser styles */
body, h1, p, ul, li, a {
    margin: 0;
    padding: 0;
}

/* Header and navigation bar styles */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px;
    margin-right: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #ff6600;
}

/* Upcoming Events section styles */
.upcoming-events {
    background-color: #f9f9f9;
    padding: 100px 0;
    text-align: center;
}

.upcoming-events-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.upcoming-events h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.event {
    text-align: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 20px;
}

.event img {
    width: 100%;
    margin-bottom: 10px;
}

.event h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.event p {
    font-size: 18px;
    color: #777;
    margin-bottom: 10px;
}

.event .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.event .btn:hover {
    background-color: #e65100;
}

/* News section styles */
.news {
    background-color: #f4f4f4;
    padding: 100px 0;
    text-align: center;
}

.news-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.news h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.post {
    text-align: left; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden;
}

.post-content {
    display: flex;
    align-items: center; /* Vertically align image and text */
    gap: 20px; /* Gap between image and text */
}

.post-img {
    max-width: 350px;
}

.post h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.post p {
    font-size: 18px;
    color: #777;
    margin-bottom: 10px;
}

.post .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.post .btn:hover {
    background-color: #e65100;
}

/* Footer section styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.social-links {
    margin-bottom: 20px;
}

.social-links a {
    display: inline-block;
    margin-right: 15px;
}

.social-links img {
    max-width: 30px;
}

.footer p {
    font-size: 14px;
}

/* Hero section styles */
.hero {
    background-image: url('images/backgroundimage.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 150px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e65100;
}

/* Schedule Board section styles */
.schedule-board {
    background-color: #f4f4f4;
    padding: 100px 0;
    text-align: center;
}

.table-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.schedule-board h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
}


/* About section styles */
.about {
    background-color: #f4f4f4;
    padding: 100px 0;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.about h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.about li {
    list-style: decimal;
    padding-bottom: 1rem;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Teachers section styles */
.teachers {
    background-color: #f4f4f4;
    padding: 100px 0;
    text-align: center;
}

.teachers-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.teachers h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.teacher-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 20px;
}

.teacher {
    text-align: center;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.teacher img {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.teacher h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.teacher p {
    font-size: 18px;
    color: #777;
}

/* Courses section styles */
.courses {
    background-color: #f4f4f4;
    padding: 100px 0;
    text-align: center;
}

.courses-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.courses h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 20px;
}

.course {
    text-align: center;
    padding-bottom: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.course img {
    width: 100%;
    margin-bottom: 10px;
}

.course h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.course p {
    font-size: 18px;
    color: #777;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    color: #4CAF50;
    font-weight: bold;
}

.enroll-button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.enroll-button:hover {
    background-color: #45a049;
}

.see-more {
    margin-top: 30px;
}

.see-more .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.see-more .btn:hover {
    background-color: #e65100;
}

/* Gallery section styles */
.gallery {
    background-color: #f9f9f9;
    padding: 100px 0;
    text-align: center;
}

.gallery-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.gallery h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.gallery img {
    max-width: 100%;
    border-radius: 5px;
}

/* Contact section styles */
.contact-section {
    background-color: #f4f4f4;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.contact-container {
    max-width: 1200px; /* Adjust this value to your needs */
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 20px;
}

.map-container {
    flex: 1;
    padding-right: 20px;
}

.map-container p {
    margin-bottom: 20px;
}

.map h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.map {
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    flex: 1;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-form form label {
    margin-bottom: 5px;
}

.contact-form form input,
.contact-form form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form form button:hover {
    background-color: #e65100;
}
